package layouts

templ Layout(title string) {
	@Base(title) {
		<div class="max-w-[80rem] mx-auto h-screen flex flex-row">
			<!-- Left side -->
			<div class="w-1/5 flex flex-col"></div>
			<!-- Middle side -->
			<div class="w-3/5 border-x-2 border-x-neutral-xlight">
				<!-- Title -->
				<h1 class="border-b-2 border-b-neutral-xlight px-3 py-4 font-bold">{ title }</h1>
				{ children... }
			</div>
			<!-- Right side -->
			<div class="w-1/5 flex flex-col"></div>
		</div>
	}
}
