package views

templ Hello(name string) {
	@layout() {
		<div>
			<div class="px-2 py-2 text-2xl font-bold bg-green-300">
				<p>Hello, { name }</p>
				<div
					class="px-2 mt-2 text-blue-700"
					id="list-container"
					hx-get="/list"
					hx-trigger="click"
					hx-target="#list-container"
				>
					Nothing here
				</div>
			</div>
		</div>
	}
}
