package partial

import "github.com/mohamedimrane/twotor/data"

templ TwootsList(twoots []data.ListTwootsRow) {
	for _, t := range twoots {
		@Twoot(t.User, t.Twoot, "avatar.png", "122k", "122k", "122k", "122k")
	}
}
