package page

import (
	"github.com/mohamedimrane/twotor/views/layouts"
	"github.com/mohamedimrane/twotor/views/partial"
	"github.com/mohamedimrane/twotor/model"
)

templ Home(user model.User) {
	@layouts.Layout("Home " + user.Username) {
		@partial.TwootForm(nil)
		<!-- Twoot list -->
		<div
			class="flex flex-col"
			hx-get="api/list-twoots"
			hx-trigger="load, click delay:500ms from:#twoot-button, every 30s"
		></div>
	}
}
